synapse-workspace/pipeline/p_s2s_system_lookup.json
{
	"name": "p_s2s_system_lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup SAP System",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_metadata",
						"type": "DatasetReference",
						"parameters": {
							"p_Table": "SAPSystem"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each SAP system",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup SAP System",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SAP System').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Extract FACTs from SAP system",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "p_s2s_fact_extract",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_serverName": {
										"value": "@item().serverName",
										"type": "Expression"
									},
									"p_systemNumber": {
										"value": "@item().systemNumber",
										"type": "Expression"
									},
									"p_clientID": {
										"value": "@item().clientID",
										"type": "Expression"
									},
									"p_subscriberName": {
										"value": "@item().subscriberName",
										"type": "Expression"
									},
									"p_username": {
										"value": "@item().username",
										"type": "Expression"
									},
									"p_secretName": {
										"value": "@item().secretName",
										"type": "Expression"
									},
									"p_systemName": {
										"value": "@item().systemName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Extract DIMs from SAP system",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Extract FACTs from SAP system",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "p_s2s_dimension_extract",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_serverName": {
										"value": "@item().serverName",
										"type": "Expression"
									},
									"p_systemNumber": {
										"value": "@item().systemNumber",
										"type": "Expression"
									},
									"p_clientID": {
										"value": "@item().clientID",
										"type": "Expression"
									},
									"p_subscriberName": {
										"value": "@item().subscriberName",
										"type": "Expression"
									},
									"p_username": {
										"value": "@item().username",
										"type": "Expression"
									},
									"p_secretName": {
										"value": "@item().secretName",
										"type": "Expression"
									},
									"p_systemName": {
										"value": "@item().systemName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SAP_To_Silver"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-13T23:14:10Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}